<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4" >
                    <img src="~/images/adidas.png" alt="" style="height:160px;width:160px;">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/columbia.png" alt="" style="height:160px;width:160px;">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/hummel.jpg" alt="" style="height:160px;width:160px;">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/koctas.jpg" alt="" style="height:160px;width:160px;">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/ikea.png" alt="" style="height:160px;width:160px;">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/lacoste.jpg" alt="" style="height:160px;width:160px;">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/adidas.png" alt="" style="height:160px;width:160px;">
                </div>
            </div>
        </div>
    </div>
</div>