
@model GetCargoCustomerByIdDto

@{
    ViewData["Title"] = "UserAddressInfo";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <div class="container">
                        
                        <h3>Kullanıcı Adres ve İletişim Bilgisi</h3>
                        <div class="alert alert-info">Kullanıcı Id:@Model.cargoCustomerId</div>
                        <div class="alert alert-info">Kullanıcı Adı:@Model.name</div>
                        <div class="alert alert-info">Ad Soyad:@Model.name @Model.surname</div>
                        <div class="alert alert-warning">Email:@Model.email</div>
                        <div class="alert alert-warning">Telefon:@Model.phone</div>
                        <div class="alert alert-warning">Telefon:@Model.phone</div>
                        <div class="alert alert-warning">İlçe-Şehir:@Model.disctrict - @Model.city</div>
                        <div class="alert alert-warning">Adres:@Model.address</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

